body {
    background: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

/* ----------------------------------------------------------------------
Button
---------------------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 6px 10px;
    margin: 0;
    font-size: 1.0rem;
    border-radius: 3px;

    border: 1px solid #4C5270;
    background: #ffffff;
    color: #4C5270;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.btn_tool {
    background: rgb(161, 179, 214);
    color: rgb(41, 49, 65);
    border-color: rgb(41, 49, 65);
    font-size: 0.8rem;
}

.btn_tool:hover {
    background: rgb(41, 49, 65);
    color: rgb(161, 179, 214);
    border-color: rgb(161, 179, 214);
    font-size: 0.8rem;
}

/* ----------------------------------------------------------------------
Container
---------------------------------------------------------------------- */

.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------
Blocks
---------------------------------------------------------------------- */

.blocks {
    display: block;
    padding: 0;
    margin: 0 -5px;
    font-size: 0;
}

.blocks > * {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px 10px;
    font-size: 1rem;
    min-width: 170px;
}

.blocks_1up > * {
    width: 100%;
}

.blocks_2up > * {
    width: 50%;
}

.blocks_3up > * {
    width: 33.3333%;
}

.blocks_4up > * {
    width: 25%;
}

/* ----------------------------------------------------------------------
App Bar
---------------------------------------------------------------------- */

.appBar {
    margin: 0 0 20px;
    background: rgb(41, 49, 65);
    color: rgb(161, 179, 214);
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #ffffff;
}

.appBar-identity {
    padding: 18px;
}

.appBar-tools {
    display: block;
    padding: 16px 18px;
    margin-top: 15px;
    background: rgb(65, 78, 104);
    box-shadow: 0 -1px 8px rgba(0,0,0,0.2), inset 0 -2px 0 rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.4);
}

.appBar-tools > *:first-child,
.appBar-tools > *:last-child {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}

.appBar-tools > *:first-child {
    text-align: left;
}

.appBar-tools > *:last-child {
    text-align: right;
}

.appBar-tools > * > * {
    display: inline-block;
    vertical-align: middle;
}

/*
-- ICON RADIO
----------------------- */

.iconRadio {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    cursor: pointer;
}

.iconRadio-label {
    display: inline-block;
    font-size: 0;
}

.iconRadio-field {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
}


/*
-- LAYOUT ICONS
----------------------- */

.layout {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: rgb(41, 49, 65);
    font-size: 0;
}

.layout_auto {
    text-align: center;
}

.layout > * {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    font-size: 0;
    line-height: 0;
}

.layout_one > * {
    width: 100%;
}

.layout_two > * {
    width: 50%;
}

.layout_three > * {
    width: 33.33333%;
}

.layout_four > * {
    width: 25%;
}

.layout_auto > *:nth-child(odd) {
    width: 75%;
}

.layout_auto > *:nth-child(even) {
    width: 25%;
    border-radius: 100%;
}

.layout > *:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgb(161, 179, 214);
}

.layout_auto > *:before {
    padding-bottom: 8px;
}

.iconRadio-field:checked + .iconRadio-label .layout > *:before {
    background-color: rgb(209, 224, 255);
}

/* ----------------------------------------------------------------------
Color Card
---------------------------------------------------------------------- */

.colorCard {
    box-sizing: border-box;
    width: 100%;
    min-width: 160px;
    padding: 8px 8px 10px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid rgb(0,0,0,0.23);
    border-width: 0 1px 1px 1px;
    box-shadow: 0 1px 3px rgb(0,0,0,0.1);
    font-size: 0;
}

.colorCard h1,
.colorCard h2,
.colorCard h3,
.colorCard h4,
.colorCard h5,
.colorCard h6 {
    margin: 0;
    font-size: 0.9;
}

.colorCard-swatch {
    width: 100%;
    max-height: 140px;
    padding-bottom: 60%;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(0,0,0,0.3);
    display: block;
}

.colorCard-swatch_red {
    background: red;
}

.colorCard-swatch_green {
    background: green;
}

.colorCard-swatch_blue {
    background: blue;
}

.colorCard-swatch_yellow {
    background: yellow;
}

.colorCard-label,
.colorCard-action {
    display: inline-block;
    width: 50%;
    font-size: 0.8rem;
}

.colorCard-label {
    text-align: left;
}

.colorCard-action {
    text-align: right;
}

/* ----------------------------------------------------------------------
Headings
---------------------------------------------------------------------- */

.primeHdg {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

/* ----------------------------------------------------------------------
Stacked List
---------------------------------------------------------------------- */

.stack {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.stack > * {
    display: block;
    margin: 0;
    padding: 6px 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.stack > * + * {
    border-top: 1px solid #747c81;   
}

.kittykat {
    border: 1px solid red;
}

.box {
    padding: 10px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.spacer_bottom {
    margin-bottom: 15px;
}

.spacer_bottomSmall {
    margin-bottom: 8px;
}

.lblText {
    font-size: 0.8rem;
}
