body {
    background: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

/* ----------------------------------------------------------------------
Button
---------------------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 6px;
    margin: 0;
    font-size: 1.0rem;
    border-radius: 3px;

    border: 1px solid #4C5270;
    background: #ffffff;
    color: #4C5270;
}

/* ----------------------------------------------------------------------
Container
---------------------------------------------------------------------- */

.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------
Blocks
---------------------------------------------------------------------- */

.blocks {
    display: block;
    padding: 0;
    margin: 0 -5px;
    font-size: 0;
}

.blocks > * {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px 5px;
    font-size: 1rem;
}

.blocks_1up {
    width: 100%;
}

.blocks_2up {
    width: 50%;
}

.blocks_3up {
    width: 33.3333%;
}

.blocks_4up {
    width: 25%;
}

/* ----------------------------------------------------------------------
App Bar
---------------------------------------------------------------------- */

.appBar {
    margin: 0 0 20px;
    background: rgb(41, 49, 65);
    color: rgb(161, 179, 214);
    text-align: center;
    overflow: hidden;
}

.appBar-identity {
    padding: 18px;
}

.appBar-tools {
    display: block;
    padding: 16px 18px;
    margin-top: 15px;
    background: rgb(65, 78, 104);
}

/* ----------------------------------------------------------------------
Color Card
---------------------------------------------------------------------- */

.colorCard {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 8px 10px;
    border-radius: 3px;
}

.colorCard h1,
.colorCard h2,
.colorCard h3,
.colorCard h4,
.colorCard h5,
.colorCard h6 {
    margin: 0;
}

.colorCard-swatch {
    width: 100%;
    max-height: 100px;
    padding-bottom: 60%;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: block;
}

.colorCard-swatch_red {
    background: red;
}

.colorCard-swatch_green {
    background: green;
}

.colorCard-swatch_blue {
    background: blue;
}

.colorCard-swatch_yellow {
    background: yellow;
}

.colorCard-bd {
    height: 80px;
    font-size: 0.8rem;
}

/* ----------------------------------------------------------------------
Headings
---------------------------------------------------------------------- */

.primeHdg {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

/* ----------------------------------------------------------------------
Stacked List
---------------------------------------------------------------------- */

.stack {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.stack > * {
    display: block;
    margin: 0;
    padding: 6px 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.stack > * + * {
    border-top: 1px solid #747c81;   
}

.kittykat {
    border: 1px solid red;
}

.box {
    padding: 10px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.spacer_bottom {
    margin-bottom: 15px;
}

.spacer_bottomSmall {
    margin-bottom: 8px;
}

.lblText {
    font-size: 0.8rem;
}
